<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:blue;">Login de Usuario</h1>
        <br>
        <form method="post">
            <div class="form-group">
                <label for="nombre"><i><b>Ingrese su nombre</b></i></label>
                <input id="nombre" class="form-control" type="text" name="nombre" required />
            </div>
            <input type="submit" class="btn btn-success mt-3 mb-5" value="Enviar">
        </form>
    </div>
</div>